@media only screen and (max-width: 850px) {
#buttons button
{
    width: 200px;
    height: 8vh;
    scale: 1.2;
    position: relative;
    left: 37%;
    top: 10%;
    margin-top: 5px;
    margin-bottom: 20px;
    border: solid;
    border-color: black;
    border-radius: 15px;
    display: block;
}

*
{
    font-family: 'Montserrat', sans-serif;
    transition: .25s ease;
    box-sizing: border-box;
}

body
{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#main
{
    scale: 0.7;
    position: absolute;
    display: grid;
    border: solid;
    border-color: black;
    border-radius: 40px;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-70%, -50%);
    padding: 0px 40px 40px 40px;
    transition: 1.2s ease;
    border-width: 5px;
    background-color: rgb(45, 45, 165);
}

#main_title
{
    margin-left: 18%;
    padding-bottom: 15px;
    font-size: 64px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
}

#main_input
{
    margin-left: 2%;
    margin-bottom: 15px;
    width: 350px;
    height: 50px;
    border-radius: 5px;
    border-color: black;
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
}

#main_button
{
    width: 200px;
    margin-left: 25%;
    border-radius: 5px;
    height: 40px;
    border-color: black;
    background-color: hsl(233deg 36% 38%);
    color: white;
    margin-top: 5px;
    border-width: 2px;
    border-color: white;
}

#message
{
    position: absolute;
    top: 27%;
    left: 51%;
    transform: translate(-50%, -50%);
    opacity: 1;
    width: 70%;
    transition: .4s ease;
    text-align: center;
    margin-top: 25px;
}

#profile
{
    opacity: 0;
    position: absolute;
    left: 70%;
    width: 30%;
    font-size: 12px;
}

#buttons
{
    position: absolute;
    top: 120%;
    left: 52%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
    width: 750px;
    height: 500px;
    opacity: 0;
}


#main_message
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 250px;
    text-align: center;
    opacity: 1;
}

#main_m2
{
    margin-top: 10%;
}

#a
{
    background-color: red;
}

#b
{
    background-color: blue;
}

#c
{
    background-color: yellow;
}

#d
{
    background-color: green;
}

#timer
{
    border: solid;
    border-color: black;
    position: absolute;
    left: 50%;
    margin-top: 80px;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    width: 7vh;
    height: 65px;
    text-align: center;
    vertical-align: middle;
    background-color: lightblue;
    opacity: 0;
}

#reset
{
    border-radius: 200px;
    width: 160px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    border: solid;
    position: absolute;
    background-color: yellow;
}

#reset:hover
{
    cursor: pointer;
}

#main_button:hover
{
    cursor: pointer;
}
}