.g
{
    margin-top: 8%;
}

#leader
{
    opacity: 1;
}

#main_m2
{
    margin-top: 10%;
}

#names
{
    display: flex;
    position: absolute;
    width: 95%;
    height: 72%;
    top: 19%;
    left: 4%;
}

#group
{
    border-radius: 15px;
    width: 98%;
    height: 100%;
    display: inline-grid;
    border-width: 5px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
}

.item{
    transition: .25s ease;
    background: url("https://static.vecteezy.com/system/resources/thumbnails/013/442/187/small/illustration-of-pixel-cloud-icon-png.png");
    background-size: 100% auto;
    height: 80%;
    text-align: center;
    padding-top: 18%;
}

#titles
{
    display: flex;
}

#board
{
    position: absolute;
    left: 40%;
}

#ranki
{
    border: solid;
    border-radius: 15px;
    padding: 10px;
    border-width: 5px;
}

#rates
{
    position: absolute;
    width: 10%;
    height: 50%;
    top: 25%;
    left: 25%;
    opacity: 0;
    scale: 1.4;
}

.rata
{
    border: solid;
    border-radius: 15px;
    border-width: 5px;
    height: 25%;
    margin: 10px;
    text-align: center;
}

.rata h1
{
    margin-top: 40%;
    font-size: 4vh;
}

#rate_a
{
    background-color: red;
    width: 43%;
}

#rate_b
{
    background-color: blue;
    width: 43%;
}

#rate_c
{
    background-color: yellow;
    width: 43%;
}

#rate_d
{
    background-color: green;
    width: 43%;
}